html {
  background: #000;
}

#vrButton {
  position: absolute;
  background: url(../assets/img/enter-vr-button-background.png) no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  z-index: 9999999;
  width: 84px;
  height: 47px;
}

#vrButton.a-hidden {
  visibility: hidden;
}

#vrButton:active {
  border: 0;
}

#vrButton:hover {
  background-position: 0 -50.5px;
}

#vrButton p {
  bottom: 45px;
  color: #FFF;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.a-loader-title {
  animation: loaderTitle 1s infinite alternate;
  color: #fff;
  background: none;
  height: 36.2vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  background-size: contain;
  font-family: monospace;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loaderTitle {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

#subscribeForm {
  display: none !important;
}

#subscribeForm h2 {
  font-size: 16px;
  font-weight: 300;
}

#subscribeForm #subscribeClose {
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 5px;
}

input[type="email"] {
  background: #FAFAFA;
  border: 0;
  border-radius: 5px;
  color: #333;
  height: 40px;
  padding-left: 20px;
  margin-right: 10px;
  max-width: 480px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}

button {
  border: 0;
  background: #FF74b8;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #FAFAFA;
  text-transform: uppercase;
  transition: .1s all;
  padding: 11px 20px;
  vertical-align: middle;
}

button:hover {
  background: #FF94C8;
}
